body {
  background-color: var(--main-bodycolor)!important;

}

.main-first {
  width: calc(100% - var(--main--absolutepadding) * 2);
  margin-top: var(--main-menuheight);
  position: fixed;
  top: var(--main--absolutepadding);
  z-index: 0;
  height: calc(100vh - var(--main-menuheight) - var(--main--absolutepadding) * 2);
  left: var(--main--absolutepadding);
  overflow:hidden;
  box-shadow: 0 0 0 99999px var(--main-bottomcolor);
  pointer-events: none;
}
.main-photo img {
  width: 100%;
  object-fit: contain;
  max-height: 150vh;
}

.second {
  position: absolute;
  z-index: 1;
}


.main-text {
  padding: 3.5vh 0% 0vw 0%;
  font-size: 1.25rem;
  text-align: justify;
  width: 50%;
  margin: 0 auto;
  line-height: 1.625;
  --text-opacity: 1;
}

body {
  font-family: Open Sans,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color emoji;
}


:root {
  --main-menuheight: 8.5vh;
  --main--absolutepadding: 1.5vw;
  --main-bordercolor: rgb(246 246 246);
  --main-bottomcolor: rgb(242 242 242);
  --main-bodycolor: rgb(248 248 248);
}

.main-photo {
  display: flex;
  padding: 5.5vh 4vw 5.5vh 4vw;
}

.main-entries {
  margin-bottom: var(--main--absolutepadding);
  margin-top: calc(var(--main--absolutepadding) + var(--main-menuheight));
  width: 80%;
  margin: var(--main-menuheight) auto;
}

.main-entry {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.main-entry:last-child {
  margin-bottom: 7vh;
}

.main-date {
  padding-top: var(--main--absolutepadding);
}

.main-header {
 padding-top: calc(var(--main-menuheight) + var(--main--absolutepadding));
 padding-left: var(--main--absolutepadding);
 background: rgb(255 255 255);
}

.main-title {
  padding: var(--main--absolutepadding);
  background: white;
  font-weight: 600;
  font-size: larger;
}

.main-video {
  text-align: center;
}

#menu a:-webkit-any-link {
  color: rgb(0 0 0);
  cursor: pointer;
  text-decoration: auto;
}

.main-text a:-webkit-any-link {
  color: rgb(0 0 0);
  cursor: pointer;
}

.second-bar {
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

.second-bar div {
  padding: 5px;
  width: 1vw;
  border: 1px solid rgb(24 33 45);
}


.second-header {
  background: rgb(255 255 255);
  position: relative;
  width: fit-content;
  margin: 0 auto;
  margin-right: var(--main--absolutepadding);
  cursor: w-resize;
}

.second-bar {
  display: flex;
  text-align: center;
}

.second-bar div {
  padding: 5px;
}

.second-plus {
  border-right: none!important;
}

.second-plus:hover, .second-minus:hover {
  background: rgb(0 0 0);
  color: rgb(255 255 255);
}