body {
  background-color: rgba(242,242,242);
  margin:0vw auto;
}


@-webkit-keyframes AnimationName {
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}
@keyframes AnimationName {
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}

.page, .work, .left, .right, .page-full, div, .img-fullpage, window {
  transition: width 0.5s, height 0.5s, visibility 2s, click 2s, display 2s, opacity 0.2s, background-color 0.2s, scroll 1s;
  scroll-behavior: smooth;
}

/* INTERACTIVE STYLING */

/* next() btn, -> show 1 div at once */



/* 
  #prev:hover {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" style="font-size: 40px; font-color:white;"><text y="40">🍔</text></svg>'), auto;
  }

   #next:hover{
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" style="font-size: 40px; font-color:white;"><text y="40">🦄</text></svg>'), auto;
} */

  /* .page-full:hover {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" style="font-size: 40px; font-color:white;"><text y="40">🦄</text></svg>'), auto;
  } */


::-webkit-scrollbar {

  scrollbar-color:#e2e2e2;
  scrollbar-width: thin;      
}
