.overview {
  background: rgb(255 255 255);
  height: 100%;
  z-index: 42;
  display: flex;
  align-content: flex-start;
  padding: var(--main-padding) 0% 0% var(--main-padding);
  flex-wrap: wrap;
  justify-content: flex-start;
  background: var(--main-bottomcolor);
  color: rgb(61 30 40);
  font-size: 1.25rem;
  line-height: 1.625;
  --text-opacity: 1;
}

.thumbnail {
  width: 100%;
  height: calc(var(--main-rowheight) * 1vh);
  background: rgb(255 255 255);
  padding: 0px;
  overflow-y: hidden;
  overscroll-behavior-y: none;
}

.thumbnail_container {
  width: calc(var(--main-ratio) * 1% - var(--main-padding) );
  padding-right: var(--main-padding);
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.thubmnail-text  {
    padding: var(--main-padding) ;
    text-align: justify;
}

.thumbnail .thumbnail-title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: stretch;
}

.thumbnail-title {
  position: absolute;
  height: calc(var(--main-rowheight) * 1vh);
  width: calc(calc(var(--main-ratio) * 1% - var(--main-padding) / calc( 100 / var(--main-ratio)  )) - var(--main-padding) );
}

.thumbnail-title:hover {
  opacity:1;
}

.thumbnail-title-mobile {
  opacity:1;
}

.thumbnail-title p {
  background: rgb(255 255 255);
  padding: 0.3vh 0.3vw;
  border: 7px solid rgb(0 0 0);
}

.thumbnail_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.35vw 0.3vw 7.25vw 0.2vw;
}

a.thumbnail-href {
  position: absolute;
  height: calc(var(--main-rowheight) * 1vh);
  z-index: 1;
  width: calc(calc(var(--main-ratio) * 1% - var(--main-padding) / calc( 100 / var(--main-ratio)  )) - var(--main-padding) );
  overflow: hidden;
}

:root {
  --main-color: rgb(255 255 255);
  --main-padding: 4.45vw;
  --main-ratio: calc(100 / var(--main-nbcol) );
  --main-nbcol: 3;
  --main-rowheight: 28;
}
